*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}

html, body{ /*ver rolagem mexendo*/
    scroll-behavior: smooth;
}
header{
    background-color: rgb(44, 36, 36);
    position: fixed; /*fixa o header na tela mesmo depois da rolagem*/
    width: 100vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}
header nav a{
    color: white;
    padding: 8px;
    transition: 1s; /*tempo de transição de cor*/
}
header nav a:hover{
    background-color: rgb(106, 38, 120);
    color: rgb(232, 170, 237);
    border-radius: 8px;
}
.grupo{
    height: 100vh;
}
#inicio{
    background-image: url(./img/cenario.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#historia{
    background-image: url(./img/cenario2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caixa-historia{
    background-color: rgba(0, 0, 0, 0.575);
    width: 110vh;
    height: 50vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-caixa{
    padding-left: 3rem;
    width: 50vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}
#texto-historia{
    width: 50%;
    text-align: center;
    padding: 0.5rem;
}
#texto-historia h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding-bottom: 1.5rem;
}
#texto-historia p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    gap: 2rem;
}
#gameplays{
    background-image: url(./img/cenario3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 35vh;
    
}

/* #gameplays p{
    background-color: aliceblue;
    justify-content: center;
} */

#gameplay-img1{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5vh;
    width: 40vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gameplay-img1 a{
    color: rgb(116, 125, 125);
    text-decoration-line:underline;
    font-size: 0.5rem;
    align-items: center;
}
#gameplay1{
    width: 40vh;
    height: 25vh;
    padding: 1rem;
    border-radius: 7vh;
    align-items: center;
}
#gameplay-img2{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5vh;
    width: 40vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
#gameplay-img2 a{
    color: rgb(116, 125, 125);
    text-decoration-line:underline;
    font-size: 18px;
}
#gameplay2{
    width: 40vh;
    height: 25vh;
    padding: 1rem;
    border-radius: 7vh;
}
#gameplay-img3{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5vh;
    width: 40vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gameplay-img3 a{
    color: rgb(116, 125, 125);
    text-decoration-line:underline;
    font-size: 18px;
}
#gameplay3{
    width: 40vh;
    height: 25vh;
    padding: 1rem;
    border-radius: 7vh;
}

#skills{
    /* background-image: url(./img/cenario4.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

    
}
#p-skills{
    background-color: rgba(0, 0, 0, 0.575);
    width: 80vh;
    height: 25vh;
    border-radius: 8vh;
    align-content: space-around;
}

#habilidades{
    background-color: rgba(0, 0, 0, 0.575);
    width: 50vh;
    height: 35vh;
    border-radius: 8vh;
    gap: 10rem;
}

#fanarts{
    background-color: rgb(0, 0, 0);
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
}
#fanart1{
    width: 50vh;
    height: 80vh;
}

#fanarts-2-3{
    padding: 5rem;
    width: 35%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fanart2{
    width: 45vh;
    height: 30vh;
    display: flex;
}

#fanart3{
    width: 45vh;
    height: 30vh;
    display: flex;
}

#fanart4{
    width: 50vh;
    height: 80vh;
}