*{
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}

html, body{ /*ver rolagem mexendo*/
    scroll-behavior: smooth;
}
header{
    background-color: rgb(44, 36, 36);
    position: fixed; /*fixa o header na tela mesmo depois da rolagem*/
    width: 100vw;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}
header nav a{
    color: white;
    padding: 8px;
    transition: 1s; /*tempo de transição de cor*/
}
header nav a:hover{
    background-color: rgb(106, 38, 120);
    color: rgb(232, 170, 237);
    border-radius: 8px;
}
.grupo{
    height: 100vh;
}
#inicio{
    background-image: url(./img/cenario.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#historia{
    background-image: url(./img/cenario2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caixa-historia{
    background-color: rgba(0, 0, 0, 0.575);
    width: 110vh;
    height: 50vh;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grande{
    padding-left: 3rem;
    width: 50vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}

#texto-historia{
    width: 50%;
    text-align: center;
    padding: 0.5rem;
}

#texto-historia h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding-bottom: 1.5rem;
}

#texto-historia p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    gap: 2rem;
}

#gameplays{
    background-image: url(./img/cenario3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 35vh;
    align-items: center;
}

#gameplays h2{
    height: 5vh;
    color: rgb(255, 255, 255);
    background-color: aliceblue;
    display: fixed;
    font-size: 30px;
}

#gameplay-img1{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5vh;
    width: 40vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameplay1{
    width: 40vh;
    height: 25vh;
    padding: 1rem;
    border-radius: 7vh;
}

#gameplay-img2{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5vh;
    width: 40vh;
    height: 45vh;
}

#gameplay-img3{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 5vh;
    width: 40vh;
    height: 45vh;
}

#skills{
    background-color: rgb(235, 222, 71);
}
#fanarts{
    background-color: rgb(75, 30, 126);
}